{
  "canBookmark" : false,
  "destinations" : [
    {
      "name" : "Avant-poste",
      "planetName" : "Base des Survivants",
      "warpAction" : "InstanceWorld:outpost",
      "icon" : "outpost"
    },
    {
      "name" : "Arche",
      "planetName" : "Ancienne Ruine",
      "warpAction" : "InstanceWorld:monolith",
      "icon" : "ark"
    }
  ],
  "includePlayerBookmarks" : false
}
