{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Douloureux ", "Impitoyable ", "Impitoyable ", "Lourd ", "Compact ", "Féroce ", "Brutale ", "Insensible ", "Apathique ", "Sans pitié " ],
      [ { "mode" : "alts" }, "Siège", "Trône", "Chaise d'Acier", "Meubles" ]
    ]
  ]
}
