{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Le ", "Mademoiselle ", "", "Mr ", "Saint ", "Jolie ", "Précieux ", "Impressionnant ", "Méchant ", "Badass ", "Pointu ", "Sauvage ", "Diabolique " ],
      [ { "mode" : "alts" }, "Cristal", "Pétillant", "Cristalline", "Précieux", "Brillant" ],
      [ { "mode" : "alts" }, "stabber", "brochet", "lance", "bâton", "rendre", "poker", "autocollant", "bras" ]
    ]
  ]
}
