{
  "converse" : {
    "default" : {
      "default" : [
        "Avez-vous toujours été ainsi chauve?",
        "Mes démangeaisons viennent de ces bestioles".",
        "Êtes-vous un combattant ou un poltron?",
        "Je suis un guerrier depuis depuis que je suis petit.",
        "Des petits voyageurs me demandent si cela est un costume",
        "Le courage est meilleur que le duracier.",
        "Toujours faire une petite sieste quand vous le pouvez!",
        "Gardez la forme!",
        "Soyez joyeux mon ami!",
        "Mangez bien, si vous voulez bien te battre!",
        "Dois-je regarder si je suis dans un costume ? Je ne dis rien...",
        "Vous devez avoir froid sans un menteau de fourrure comme moi.",
        "Ne pas faire un petit combat me démange.",
        "Certains meubles en pierre, sont pas par un Alpaca heureux je vous dis!",
        "Dinnaé vous regarde comme un lâche. Je respecte ça."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Quelque chose à été déplacé sur mon lieu d'habitation?",
        "Avez-vous déplacer quelque chose?",
        "Quelque chose me semble bizarre ici..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Il y a de l'urine ici...",
        "Sauriez-vous trier le mur ici?",
        "Je pense qu'il y a de l'urine! Pouvez-vous résoudre ce problème?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "TIl devrait y avoir un autre acte ici!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I dinnae thing I can live here any longer!",
        "Cela n'est pas convenable pour un alpaca!",
        "Je pense que j'ai ai eu assez avec vous!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Je suis avez vous!",
        "I'm not living with ye conditions any longer!",
        "je suis nae et j'aime vivre comme ca!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Vous avez besoin de moi ?",
        "Vous pensez avoir besoin de moi ?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Voici un cadeau pour vous tous.",
        "Prenez-ceci, c'est pour la petite aide de la mine!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Je suis surpris de vous trouvé de vous refaire face à nouveau !",
        "De retour !"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Lâche!",
        "Dinnae pense que vous ne pouvez pas sortir!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Combattez pour gagné, les gars",
        "Voilà ce que vous obtenez!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Fuyez-vous petit lâche!",
        "Dinnae reviendra!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Ou allez-vous ?",
        "L'urine fais des ravages, partez!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Vous êtes un lâche! Juste parceque je ne peux pas vous atteindre!",
        "Comment avez-vous réussi à y arriver ?"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Vous êtes un sale type!",
        "Barrez-vous lâche!",
        "Vous avez eu 'em!",
        "Coupez 'em la teille de tae!"
      ]
    }
  }
}