{
  "beacon" : {
    "default" : {
      "default" : [
        "Je suis chez moi!"
      ]
    },
    "human" : {
      "default" : [
        "Vous avz appelé?",
        "Vous avez besoin de me voir?",
        "Voulez-vous parler?",
        "Y at-il quelque chose que vous voulez me demander ?",
        "Vous avez besoin de moi?"
      ]
    },
    "floran" : {
      "default" : [
        "Tu avais besssoin de moi?",
        "Vous avez besssoin de Floran?",
        "Ssssurprise, Floran est ici.",
        "Avez-vous besoin de moi pour quelque chose?",
        "Étiez-vous en train de me chercher?"
      ]
    },
    "glitch" : {
      "default" : [
        "Narquois. Avez-vous besoin de moi pour quelque chose?",
        "Curieux. Avez-vous besoin de moi pour une raison particulière?",
        "Accueillant. Je suis toujours heureux de voir un visage familier.",
        "Amicale. Vouliez-vous discuter?",
        "Poli. Avez-vous dit bonjour?"
      ]
    },
    "avian" : {
      "default" : [
        "Voulez-vous souhaiter dialoguer?",
        "Avez-vous besoin de moi?",
        "Qu'avez-vous besoin?",
        "Bonjour à nouveau, ami!",
        "Je suis toujours heureux de voir un visage amical."
      ]
    },
    "apex" : {
      "default" : [
        "Pourquoi m'avez-vous appelé?",
        "Bonjour. Vous avez besoin de moi pour quelque chose?",
        "J'ai été alerté que vous m'avez vu?",
        "Vous avez besoin de moi?",
        "Salutations. Vous avez des questions pour qu'on en discute?"
      ]
    },
    "hylotl" : {
      "default" : [
        "Que voudriez-vous pour discuter?",
        "Comment vous sentez-vous, ami?",
        "Vouliez-vous discuter de vos émotions avec moi?",
        "Avez-vous désirez parler à moi, mon ami?",
        "Avez-vous besoin de moi pour quelque chose en particulier?"
      ]
    },
    "novakid" : {
      "default" : [
        "Salut! Quelque chose dans votre esprit?",
        "Y'a t-il quelque chose en particulier?",
        "Comment allez-vous?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [ "Voici un cadeau pour toute votre aide!" ]
    },
    "human" : {
      "default" : [
        "Je pensais que vous pourriez aimer ça!",
        "Voici un cadeau, pour votre aide.",
        "Il est pour vous. Vous pouvez le prendre, ou non. C'est à vous.",
        "Voici quelque chose pour vos problèmes!",
        "Hey, voici un cadeau!",
        "Voici un petit cadeau de remerciement!"
      ]
    },
    "floran" : {
      "default" : [
        "Voici un cadeau pour vous!",
        "Floran a obtenu une chossse! Prends le!",
        "Floran vous avez obtenu une chossse!",
        "Floran a une chose pour vous!",
        "Merccci pour votre aide!"
      ]
    },
    "glitch" : {
      "default" : [
        "Reconnaissant. Voici un cadeau pour tout ce que vous fait avec moi.",
        "Reconnaissant. Voici un cadeau, pour toute votre aide.",
        "Respectful. I wish to return the favour for all your help.",
        "Reconnaissant. J'ai un cadeau pour tout ce que vous avez fait pour moi.",
        "Optimiste. J'espère que vous aimez le cadeau que je vous ai donné!"
      ]
    },
    "avian" : {
      "default" : [
        "Voici un témoignage de ma gratitude.",
        "Ici - J'apporté un cadeau pour vos problèmes.",
        "On dirait que vous pourriez utiliser un cadeau. Prends ça.",
        "Je vous ai apporté un cadeau.",
        "J'espère que cette offre vous apporte le bonheur."
      ]
    },
    "apex" : {
      "default" : [
        "S'il vous plaît accepter ce cadeau, pour toute votre aide.",
        "En retour de ma sécurité, je vous ai apporté un cadeau.",
        "Pour aider moi vivre indépendant de la Miniknog, prendre ce.",
        "Je ne peux pas vous remercier, assez pour moi pour m'avoir aider à vivre loin de la Miniknog.",
        "L'état de ma maison est agréable, prennez-ceci ce.",
        "For all you have done, take this."
      ]
    },
    "hylotl" : {
      "default" : [
        "My home is as peaceful as I could hope for. Here is a gift for all you have done.",
        "May this gift ease your troubles as you have eased mine.",
        "For all you have done for me, please accept this humble gift in thanks.",
        "My zen has been maintained with your beautiful home. Please accept this.",
        "I hope this humble gift conveys my appreciation for your help."
      ]
    },
    "novakid" : {
      "default" : [
        "You're an Ace-High ally! Here's a little somethin' for your troubles.",
        "It's a mighty fine place you've helped me secure. I gotta thank you for it.",
        "Thanks for helping me get by, partner. You've earned this."
      ]
    }
  }
}