{
  "reattack" : {
    "default" : {
      "default" : [
        "Encore Vous!",
        "Vous êtes la!",
        "Aha!"
      ]
    },
    "glitch" : {
      "default" : [
        "Surpris. Tu es revenu!",
        "Agressif. Vous revenez pour votre propre défaite!",
        "Courageux. Je suis prêt à vous battre une fois de plus!",
        "En colère. Vous vous êtes échappé la dernière fois, mais je vais pas vous lacher maintenant!"
      ]
    },
    "floran" : {
      "default" : [
        "Ils sssont revenus pour un coup de couteau!",
        "La chasssse est de retour!",
        "Vous êtes resté en arrière!",
        "Floran va vous arrêter cette fois!",
        "Vous ne ssserez plus vivant!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Ganking time!"
      ]
    },
    "apex" : {
      "default" : [
        "Espion! Attaquez-le",
        "Engager!",
        "On se rassemble!",
        "Il sont après notre butin!",
        "Par ma barbe, des intrus!"
      ]
    },
    "avian" : {
      "default" : [
        "Votre vie est acquise!",
        "La bataille a commencer!",
        "Ceux qui cherchent à nuire perdront leur vie!",
        "Préparez-vous à votre sacrifice.",
        "Si seulement je pouvais voler, j'aurai pus vous tuer plus vite!",
        "Vous allez le regretter!"
      ]
    },
    "floran" : {
      "default" : [
        "Sssupper arrivesss!",
        "Ssstop the intruder!",
        "Time to ssstrike!",
        "The battle beginsss!",
        "It'sss time to hunt!",
        "Ssstay back!",
        "Floran will ssslay you!"
      ],

      "glitch" : [
        "Floran regrette cela.",
        "Rien de personnel..."
      ]
    },
    "glitch" : {
      "default" : [
        "Alerte. Une démarche ennemi!",
        "Concentré. Mon but est vrai!",
        "Calme. Cela ne devrait pas être un problème pour moi.",
        "Téméraire. Cette bataille sera bientôt terminé!",
        "Courageux. Je serai le seul à vaincre cet ennemi!",
        "Désireux. Vous avez respiré votre dernière!",
        "Poursuivant. Préparez-vous à perdre votre vie!"
      ],

      "floran" : [
        "Regrets. Nous faisons ce qu'il faut pour survivre.",
        "Excuses. Vous devez mourir, Floran."
      ]
    },
    "hylotl" : {
      "default" : [
        "Il y a honneur au combat!",
        "Commencer la danse du vrai combat!",
        "J'aimerai vous dire que je regrette cette lute.",
        "La lutte de Hylotl mieux que tout autre - Il est temps de le prouver!",
        "Ma lame frappera vrai!",
        "Je vais me battre avec honneur!"
      ],

      "floran" : [
        "Votre apparence est celle des chou bouilli. Je me demande si vous goûtez pas mieux.",
        "Je vous tuerai moi-même, monstre inculte."
      ]
    },
    "human" : {
      "default" : [
        "Hé ! Revenez ici!",
        "Vous êtes de la viande morte!",
        "La bataille commence!",
        "Nous y voilà!",
        "Je suis déclencheur de sentiment heureux!",
        "Nous allons voler leurs trucs!",
        "Nous allons tellement vous tuer que vous ne saurez pas ce que vous frappez!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Succès!",
        "Victoire!",
        "Another victory!",
        "Ouii!",
        "C'est ce que vous obtenez!"
      ]
    },
    "avian" : {
      "default" : [
        "Le jour est gagnant!",
        "Ma victoire a été condamnés !",
        "Le destin sourit sur moi ce jour!",
        "Victoire est nôtre!",
        "La gloire est le nôtre!"
      ]
    },
    "apex" : {
      "default" : [
        "La cible est en panne!",
        "Zone sécurisée!",
        "La cible a été neutralisée!"
      ]
    },
    "hylotl" : {
      "default" : [
        "La bataille est terminée...",
        "Ce qui est fait est fait.",
        "Ils vont écrire des poèmes sur cette bataille épique!",
        "L'honneur est la nôtre!",
        "Pour défendre la vie elle-même est une noble victoire.",
        "C'est fait!"
      ]
    },
    "glitch" : {
      "default" : [
        "Convaincu. Une autre victoire!",
        "Convaincu. Un autre travail bien fait.",
        "Excité. Avez-vous vu cet affichage excitant?",
        "Épuisé. Je n'étais pas prêt pour ce combat.",       
        "Heureux. Ils ont été vaincus!",
        "Heureux. Un guerrier victorieux je suis!"
      ]
    },
    "floran" : {
      "default" : [
        "Ssssucès!",
        "Le coup de poignard et le tournage sssont terminé!",
        "Victory tastesss good!",
        "Victoire a bon goût!",
        "La chasse est terminée pour l'instant!",
        "Floran gagne!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Je vous obtiendrez un jour!",
        "Ce n'est pas fini!",
        "Je vous attendez!"
      ]
    },
    "glitch" : {
      "default" : [
        "Ennuyé. L'ennemi est perdue!",
        "Frustré. Je sais que vous êtes ici quelque part!",
        "Patient. Je vais attendre pour notre revanche!"
      ]
    },
    "floran" : {
      "default" : [
        "Ils vont se faufiler..!",
        "Quand ils reviendront, ils vont obtenir un coup de poignard...",
        "Floran va trouver quelqu'un d'autre pour chasssser.",
        "Ils reviendront, puis Floran va frapper!",
        "Floran sent encore la proie!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Où es-tu allé?",
        "Je ne peux pas vous voir!",
        "Comment est-ce arrivé?"
      ]
    },
    "glitch" : {
      "default" : [
        "Ennuyé. L'ennemi est hors de ma ligne de mire!",
        "Inquiet. Je ne vois pas l'ennemi!",
        "Confondu. Où sont-ils allés?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran ne peut pas les voir!",
        "Ils se sont faufilés?",
        "La proie n'est pas dans ma ligne de mire!",
        "...",
        "Floran va venir très vite!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Si je pouvais me permettre du tech j'aurai pus vous obtenir!",
        "Comment êtes-vous là?"
      ]
    },
    "glitch" : {
      "default" : [
        "Ennuyé. Ils sont hors de ma portée!",
        "Concernés. Je ne peux pas les atteindre!",
        "Frustré. Pourquoi je n'ai pas apporté une arbalète?"
      ]
    },
    "floran" : {
      "default" : [
        "Ils sont trop loin pour le poignarder!",
        "Frappez-le pour moi ! Je ne peux pas l'atteindre!",
        "Se rapprocher!",
        "La proie est allé trop loin!",
        "Floran pas assssez proche!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Je ne peux pas m'en approcher suffisamment!",
        "Venez, vous pouvez les obtenir!",
        "Vous êtes dans le chemin!",
        "Hack et slash!",
        "Vous pouvez le faire!",
        "Les obtenir!"
      ]
    },
    "glitch" : {
      "default" : [
        "Captivé. Les frapper vers le bas!",
        "Encourageant. Vous pouvez le faire!",
        "Favorable. Vaincre l'ennemi!"
      ]
    },
    "floran" : {
      "default" : [
        "Poignarder eux..plus difficile!",
        "Ouiii!",
        "Floran soutiendra au contraire!",
        "Les frapper vers le bas!",
        "Floran éxité!"
      ]
    }
  }
}