{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/bounty/bountyheader.png",
      "fileBody" : "/interface/bounty/bountybody.png",
      "fileFooter" : "/interface/bounty/bountyfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [321, 263]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  PRÉCIEUX TROPHÉS",
      "subtitle" : "  \"Jamais entendu parler de 'em.\" -la Chambre de Commerce",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/bounty/bountyicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 244],
      "hAnchor" : "mid",
      "value" : "PRIMES OUVERTES"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "DÉTAILS DES PRIMES"
    },
    "turnIn" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [274, 38],
      "caption" : "Rendre"
    },

    "description" : {
      "type" : "label",
      "position" : [190, 50],
      "size" : [140, 220],
      "vAnchor" : "top",
      "hAnchor" : "mid"
    },

    "rewards" : {
      "type" : "itemgrid",
      "position" : [200, 46],
      "spacing" : [19, 0],
      "dimensions" : [5, 1],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 50, 174, 230],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground2.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground2.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "title" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    }
  },
  "tooltip" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "itemList" : {
      "position" : [2, 3],
      "type" : "list",
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [125, 25],
        "listTemplate" : {
          "itemName" : {
            "type" : "label",
            "position" : [22, 10],
            "hAnchor" : "left",
            "wrapWidth" : 116,
            "value" : "Golden Moustache"
          },
          "itemIcon" : {
            "type" : "itemslot",
            "position" : [1, 1],
            "callback" : "null"
          },
          "count" : {
            "type" : "label",
            "position" : [118, 0],
            "hAnchor" : "right",
            "value" : "19/99"
          }
        }
      }
    }
  }
}
