{
  "maxBindings" : 2,
  "modFilter" : ["Num", "Caps", "Mode", "Reserved"],
  "assignOnKeyUp" : ["LCtrl", "RCtrl", "LAlt", "RAlt", "LMeta", "RMeta", "LShift", "RShift"],
  "keyActions" : {
    "player" : [
      {
        "label" : "Vers le haut",
        "action" : "PlayerUp"
      },
      {
        "label" : "Se déplacer à gauche",
        "action" : "PlayerLeft"
      },
      {
        "label" : "Se déplacer à droite",
        "action" : "PlayerRight"
      },
      {
        "label" : "Descendre",
        "action" : "PlayerDown"
      },
      {
        "label" : "Sauter",
        "action" : "PlayerJump"
      },
      {
        "label" : "Marche",
        "action" : "PlayerShifting"
      },
      //{
      //  "label" : "Item Main Gauche",
      //  "action" : "PlayerMainItem"
      //},
      //{
      //  "label" : "Item Main Droite",
      //  "action" : "PlayerAltItem"
      //},
      {
        "label" : "Interaction",
        "action" : "PlayerInteract"
      },
      {
        "label" : "Jeter un item",
        "action" : "PlayerDropItem"
      },
      {
        "label" : "Action technique 1",
        "action" : "PlayerTechAction1"
      },
      {
        "label" : "Action technique 2",
        "action" : "PlayerTechAction2"
      },
      {
        "label" : "Action technique 3",
        "action" : "PlayerTechAction3"
      },
      {
        "label" : "Expression",
        "action" : "EmoteBlabbering"
      },
      {
        "label" : "Crier",
        "action" : "EmoteShouting"
      },
      {
        "label" : "Expression Joyeuse",
        "action" : "EmoteHappy"
      },
      {
        "label" : "Epression Décevante",
        "action" : "EmoteSad"
      },
      {
        "label" : "Epression Normal",
        "action" : "EmoteNeutral"
      },
      {
        "label" : "Epression Marrante",
        "action" : "EmoteLaugh"
      },
      {
        "label" : "Expression Agacé",
        "action" : "EmoteAnnoyed"
      },
      {
        "label" : "Oh Expression",
        "action" : "EmoteOh"
      },
      {
        "label" : "Oooh Expression",
        "action" : "EmoteOooh"
      },
      {
        "label" : "Clignotement",
        "action" : "EmoteBlink"
      },
      {
        "label" : "Clin d'oeil",
        "action" : "EmoteWink"
      },
      {
        "label" : "Expression Manger",
        "action" : "EmoteEat"
      },
      {
        "label" : "Expression Dormir",
        "action" : "EmoteSleep"
      }
    ],
    "toolbar" : [
      {
        "label" : "Swap Hands",
        "action" : "InterfaceSwapHands"
      },
      {
        "label" : "Deselectionner Mains",
        "action" : "InterfaceDeselectHands"
      },
      {
        "label" : "Sélection Bar 1",
        "action" : "InterfaceBar1"
      },
      {
        "label" : "Sélection Bar 2",
        "action" : "InterfaceBar2"
      },
      {
        "label" : "Sélection Bar 3",
        "action" : "InterfaceBar3"
      },
      {
        "label" : "Sélection Bar 4",
        "action" : "InterfaceBar4"
      },
      {
        "label" : "Sélection Bar 5",
        "action" : "InterfaceBar5"
      },
      {
        "label" : "Sélection Bar 6",
        "action" : "InterfaceBar6"
      },
      {
        "label" : "Sélection Bar 7",
        "action" : "InterfaceBar7"
      },
      {
        "label" : "Sélection Bar 8",
        "action" : "InterfaceBar8"
      },
      {
        "label" : "Sélection Bar 9",
        "action" : "InterfaceBar9"
      },
      {
        "label" : "Sélection Bar 10",
        "action" : "InterfaceBar10"
      },
      {
        "label" : "Manipulateur de Matières ",
        "action" : "EssentialBar1"
      },
      {
        "label" : "Mode Câblage",
        "action" : "EssentialBar2"
      },
      {
        "label" : "Mode Peinture",
        "action" : "EssentialBar3"
      },
      {
        "label" : "Deselect Bar Item",
        "action" : "InterfaceBarNPos"
      },
      {
        "label" : "Select With Alt Hand",
        "action" : "GuiShifting"
      }
    ],
    "game" : [
      {
        "label" : "Show Labels",
        "action" : "ShowLabels"
      },
      {
        "label" : "Camera Look",
        "action" : "CameraShift"
      },
      {
        "label" : "Cockpit Up",
        "action" : "CockpitUp"
      },
      {
        "label" : "Cockpit Down",
        "action" : "CockpitDown"
      },
      {
        "label" : "Cockpit Left",
        "action" : "CockpitLeft"
      },
      {
        "label" : "Cockpit Right",
        "action" : "CockpitRight"
      },
      {
        "label" : "Chat Page Up",
        "action" : "ChatPageUp"
      },
      {
        "label" : "Chat Page Down",
        "action" : "ChatPageDown"
      },
      {
        "label" : "Chat Previous Line",
        "action" : "ChatPreviousLine"
      },
      {
        "label" : "Chat Next Line",
        "action" : "ChatNextLine"
      },
      {
        "label" : "Chat Send Line",
        "action" : "ChatSendLine"
      },
      {
        "label" : "Begin Chat",
        "action" : "ChatBegin"
      },
      {
        "label" : "Begin Chat Command",
        "action" : "ChatBeginCommand"
      },
      {
        "label" : "Repeat Last Command",
        "action" : "InterfaceRepeatCommand"
      },
      {
        "label" : "Plein écran",
        "action" : "InterfaceToggleFullscreen"
      },
      {
        "label" : "Ouvrir Inventaire",
        "action" : "InterfaceInventory"
      },
      {
        "label" : "Ouvrir Manuscrits",
        "action" : "InterfaceCodex"
      },
      {
        "label" : "Open Quest",
        "action" : "InterfaceQuest"
      },
      {
        "label" : "Open Crafting",
        "action" : "InterfaceCrafting"
      },
      {
        "label" : "Mode Inspection",
        "action" : "InterfaceInspectCursor"
      },
      {
        "label" : "AIDE",
        "action" : "InterfaceShowHelp"
      },
      {
        "label" : "Hide Hud",
        "action" : "InterfaceHideHud"
      }
    ]
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
        "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/keybindings/header.png",
      "fileBody" : "/interface/keybindings/body.png",
      "fileFooter" : "/interface/keybindings/footer.png"
    },
    "bgimage" : {
      "type" : "image",
      "file" : "/interface/keybindings/scrollmenu.png",
      "position" : [13, 29]
    },
    "accept" : {
      "type" : "button",
      "position" : [141, 15],
      "caption" : "Accepter",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "cancel" : {
      "type" : "button",
      "position" : [19, 15],
      "caption" : "Retour",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "setDefault" : {
      "type" : "button",
      "position" : [80, 15],
      "caption" : "Defaut",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "categories" : {
      "type" : "tabSet",
      "tabButtonBaseImage" : "/interface/tabs/tabbase.png",
      "tabButtonHoverImage" : "/interface/tabs/tabover.png",
      "tabButtonBaseImageSelected" : "/interface/tabs/tabselected.png",
      "tabButtonHoverImageSelected" : "/interface/tabs/tabselectedover.png",
      "tabButtonPressedOffset" : [0, 0],
      "tabButtonTextOffset" : [0, -1],
      "tabButtonSpacing" : [-1, 0],
      "rect" : [13, 29, 203, 209],
      "zlevel" : 9,
      "tabs" : [
        {
          "tabName" : "player",
          "tabTitle" : "JOUEUR",
          "children" : {
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [2, 6, 189, 166],
              "children" : {
                "keyList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/keybindings/listbg.png",
                    "unselectedBG" : "/interface/keybindings/listbg.png",
                    "spacing" : [0, 3],
                    "memberSize" : [185, 13],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/keybindings/listbg.png",
                        "position" : [2, 1],
                        "zlevel" : -1
                      },
                      "actionName" : {
                        "type" : "label",
                        "value" : "replace me",
                        "position" : [54, 2],
                        "hAnchor" : "mid"
                      },
                      "boundKeys" : {
                        "type" : "button",
                        "callback" : "activateBinding",
                        "base" : "/interface/keybindings/option.png",
                        "hover" : "/interface/keybindings/optionOver.png",
                        "press" : "/interface/keybindings/optionActive.png",
                        "position" : [105, 2.5]
                      },
                      "deleteBinding" : {
                        "type" : "button",
                        "base" : "/interface/keybindings/garbage.png",
                        "press" : "/interface/keybindings/garbageDown.png",
                        "position" : [165, 1]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "toolbar",
          "tabTitle" : "BARRE OUTILS",
          "children" : {
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [2, 6, 189, 166],
              "children" : {
                "keyList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/keybindings/listbg.png",
                    "unselectedBG" : "/interface/keybindings/listbg.png",
                    "spacing" : [0, 3],
                    "memberSize" : [185, 13],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/keybindings/listbg.png",
                        "position" : [2, 1],
                        "zlevel" : -1
                      },
                      "actionName" : {
                        "type" : "label",
                        "value" : "replace me",
                        "position" : [54, 2],
                        "hAnchor" : "mid"
                      },
                      "boundKeys" : {
                        "type" : "button",
                        "callback" : "activateBinding",
                        "base" : "/interface/keybindings/option.png",
                        "hover" : "/interface/keybindings/optionOver.png",
                        "press" : "/interface/keybindings/optionActive.png",
                        "position" : [105, 2.5]
                      },
                      "deleteBinding" : {
                        "type" : "button",
                        "base" : "/interface/keybindings/garbage.png",
                        "press" : "/interface/keybindings/garbageDown.png",
                        "position" : [165, 1]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "game",
          "tabTitle" : "JEUX",
          "children" : {
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [2, 6, 189, 166],
              "children" : {
                "keyList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/keybindings/listbg.png",
                    "unselectedBG" : "/interface/keybindings/listbg.png",
                    "spacing" : [0, 3],
                    "memberSize" : [185, 13],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/keybindings/listbg.png",
                        "position" : [2, 1],
                        "zlevel" : -1
                      },
                      "actionName" : {
                        "type" : "label",
                        "value" : "replace me",
                        "position" : [54, 2],
                        "hAnchor" : "mid"
                      },
                      "boundKeys" : {
                        "type" : "button",
                        "callback" : "activateBinding",
                        "base" : "/interface/keybindings/option.png",
                        "hover" : "/interface/keybindings/optionOver.png",
                        "press" : "/interface/keybindings/optionActive.png",
                        "position" : [105, 2.5]
                      },
                      "deleteBinding" : {
                        "type" : "button",
                        "base" : "/interface/keybindings/garbage.png",
                        "press" : "/interface/keybindings/garbageDown.png",
                        "position" : [165, 1]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      ]
    }
  }
}
