{
  "background" : {
    "type" : "background",
    "fileHeader" : "",
    "fileBody" : "/interface/title/multiplayerbackground.png",
    "fileFooter" : ""
  },
  "connect" : {
    "type" : "button",
    "base" : "/interface/title/joinserverUp.png",
    "hover" : "/interface/title/joinserverOver.png",
    "position" : [82.5, 31],
    "caption" : "SE CONNECTER"
  },
  "address" : {
    "type" : "textbox",
    "position" : [35, 82],
    "hint" : "adresse du serveur",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 128,
    "focus" : true
  },
  "port" : {
    "type" : "textbox",
    "position" : [173, 82],
    "hint" : "port",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 23,
    "focus" : true
  },
  "account" : {
    "type" : "textbox",
    "position" : [65, 66],
    "hint" : "nom de compte",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 100
  },
  "password" : {
    "type" : "textbox",
    "position" : [65, 50],
    "hint" : "mot de passe",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 100
  }
}
