{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Brûler ", "Flamboyant ", "Brûlant ", "Chaud ", "Brûlant ", "Fournaise ", "Ardent ", "Griller ", "Grésiller ", "Cloques ", "Chauffé ", "Torride ", "Conflagrant ", "Fumeur ", "Fumant " ],
      [ { "mode" : "alts" }, "Poignardeur", "Lame", "Épée", "Dés", "Rendu", "Coupeur", "Pirate", "Coupeur", "Tueur", "Slasher", "Traître", "Carnage", "Horreur", "Calamité", "Sculpteur" ]
    ]
  ]
}
