{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomLeft",
      "offset" : [5, 86]
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/aimessage/background.png",
      "fileFooter" : ""
    },
    "imgPortrait" : {
      "type" : "image",
      "position" : [2, 2]
    },
    "lblMessage" : {
      "type" : "label",
      "position" : [61, 53],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 218,
      "value" : ""
    }
  },

  "backgroundImage" : "/interface/aimessage/background.png",

  "animateInTime" : 0.4,
  "animateInImage" : "/interface/aimessage/blinkin.png",
  "animateInFrames" : 6,

  "animateOutTime" : 0.4,
  "animateOutImage" : "/interface/aimessage/blinkout.png",
  "animateOutFrames" : 6,

  "defaultDisplayTime" : 5.0,

  "chatHiddenOffset" : [5, 5],
  "chatVisibleOffset" : [5, 86],

  "slideTime" : 0.3,

  "messagePrefix" : "[S.A.I.L] "
}