{
  "maxHealth" : {
    "label" : "Vie Maximum",
    "description" : "-todo-",
    "icon" : "/interface/stats/maxhealth.png"
  },
  "healthRegen" : {
    "label" : "Taux Regeneration Vie",
    "description" : "-todo-",
    "icon" : "/interface/stats/healthregen.png"
  },
  "maxEnergy" : {
    "label" : "Energie Maximum",
    "description" : "-todo-",
    "icon" : "/interface/stats/maxenergy.png"
  },
  "energyRegen" : {
    "label" : "Taux Regeneration Energie",
    "description" : "-todo-",
    "icon" : "/interface/stats/energyregen.png"
  },
  "protection" : {
    "label" : "Armure",
    "description" : "-todo-",
    "icon" : "/interface/stats/protection.png"
  },
  "powerMultiplier" : {
    "label" : "Dommages D'armes",
    "description" : "-todo-",
    "icon" : "/interface/stats/powermultiplier.png"
  }
}